@mixin btn($c, $bg-c: transparent) {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-color: $bg-c;
  color: $c;

  font: $text-m;
  font-weight: bold;

  border-radius: 12px;

  cursor: pointer;
}
