/* background */
$bc: #414042;

/* color */
$secondary: rgba(255, 255, 255, 0.16);
$secondary-destructive: #ff8c67;
$accent: #ff7043;
$primary: #526ed3;
$white: #ffffff;
$grey: rgba(255, 255, 255, 0.6);
